html
    head
        title= title
        style
            include /css/index.css
    body
        h1= headerText
        h2= subheaderText

        input.search(type="ssearch" results=10 placeholder="start typing..." autofocus)
        .info Press enter or tap the arrow
        div
            .go &#129122;

        small= attributionStatement
