:root {
    --marvel-red: rgba(226,54,54);
    --font-size: 1rem;
    --line-height: 1rem;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

@custom-media --mobile-device (width <= 1024px);
@custom-selector :--text-elements h1, h2, small, p;

:--text-elements {
    color: white;
    text-transform: uppercase;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}