@import './_core.css';

body {
    background-color: var(--marvel-red);
    font-family: "Helvetica Narrow", "Arial Narrow", "Arial", "Helvetica", "sans-serif";
}


h1 {
    font-size: calc(var(--font-size) * 6);
    line-height: calc(var(--line-height) * 6);
    margin: 3rem 0 0 0;
}

h2 {
    font-size: calc(var(--font-size) * 3);
    line-height: calc(var(--line-height) * 3);
    margin: 0;
}

.search {
    display: block;
    background: none;
    padding: 0.5rem;
    border-top: none;
    border-left: none;
    border-right: none;
    color: white;
    margin: 3rem auto;
    outline: none;
    border-bottom: 1px solid color(white a(33%));
    background-color: color(white a(11%));
    &::selection {
        background: color(white a(22%));
        background-color: none;
    }
    @media (--mobile-device) {
        width: 90vw;
        height: calc(var(--font-size) * 4);
        font-size: calc(var(--font-size) * 2);
        line-height: calc(var(--line-height) * 2);
    }
}

small {
    color: color(white a(66%));
    position: absolute;
    bottom: 1rem;
    width: 100%;
}

.info {
    text-transform: uppercase;
    color: color(white a(66%));
    text-align: center;
}

.go,.spinner {
    display: inline-block;
    color: white;
    font-size: calc(var(--font-size) * 2);
    line-height: calc(var(--line-height) * 2);
    margin-left: calc(50% - var(--font-size));
    @media (--mobile-device) {
        font-size: calc(var(--font-size) * 4);
        line-height: calc(var(--line-height) * 4);
        margin-left: calc(50% - calc(var(--font-size) * 2));
    }
    &.animate {
        color: var(--marvel-red);
        background: url("/assets/spinner.svg");
        background-size: 100% 100%
        animation: spinner 1.2s linear infinite;
    }
}
